<ion-header>
<ion-navbar>
  <button ion-button menuToggle start>
      <ion-icon name="menu"></ion-icon>
    </button>
  <ion-title>Oferta</ion-title>
</ion-navbar>
</ion-header>
<ion-content class="bkg-content">
  <!-- <ion-card>
  <ion-item>
    <ion-avatar item-left>
      <img src="assets/images/fornecedores/fornecedor-1.jpg">
    </ion-avatar>
    <h2>Bem Goiano</h2>
    <p>5 de Novembro</p>
  </ion-item>
  <img src="assets/images/cupons/comida-1.jpg">

  <ion-row>
    <ion-col>
      <button ion-button icon-left clear small>
        <ion-icon name="thumbs-up"></ion-icon>
        <div>12 Curtidas</div>
      </button>
    </ion-col>
    <ion-col>
      <button ion-button icon-left clear small>
        <ion-icon name="text"></ion-icon>
        <div>5 Comentários</div>
      </button>
    </ion-col>
    <ion-col center text-center>
      <ion-note>
        11h atrás
      </ion-note>
    </ion-col>
  </ion-row>

  <ion-card-content>
    <ion-card-title>
      Compre um e ganhe outro!
    </ion-card-title>
    <p>Wait a minute. Wait a minute, Doc. Uhhh... Are you telling me that you built a time machine... out of a DeLorean?! Whoa. This is heavy.</p>
  </ion-card-content>
  <ion-card-header>
    Regras do Cupom
  </ion-card-header>
  <ion-card-content>
    <p>Wait a minute. Wait a minute, Doc. Uhhh... Are you telling me that you built a time machine... out of a DeLorean?! Whoa. This is heavy.</p>
  </ion-card-content>
  <ion-card-header>
    Localização
  </ion-card-header>
  <ion-item>
    <img src="assets/images/mapa.png" />
  </ion-item>

</ion-card> -->
<img src="assets/images/prato.jpg" />
<div id="fotos">
  <div>
    <img src="assets/images/prato.jpg" />
  </div>
  <div>
    <img src="assets/images/prato.jpg" />
  </div>
  <div>
    <img src="assets/images/prato.jpg" />
  </div>
  <div>
    <img src="assets/images/prato.jpg" />
  </div>
  <div>
    <img src="assets/images/prato.jpg" />
  </div>
</div>
<div>
  <button ion-button (click)="putMarket()">Colocar em oferta</button>
</div>
</ion-content>
