page-cadastro{
  ion-content{
    background-image: url('../assets/images/BKG-login.jpg');
    form{
      ion-list{
        ion-list-header{
          background-color: transparent !important;
          border: none !important;
          font-size: 2.0rem !important;
          color: #ffffff !important;
        }
        ion-item{
          background-color: transparent !important;
          color: #ffffff !important;
          padding-left : 0 !important;                    
          ion-input{
            text-decoration: none !important;
          }
        }
        div.forcheckbox{
            text-align: center;
            padding: 10px 0;
            margin-top: 10px;
            ion-checkbox{
              margin-right: 5px !important;
                  vertical-align: text-top !important;        
              .checkbox-icon{
                background-color: transparent !important;
              }
            }
            span{
              color: #ffffff;
              span.inner{color:#488aff}
            }
        }
      }
      button[name="back-btn"]{
        margin-top:15px;
      }
    }
  }
}
modal-termosecondicoes{

}
