<ion-content padding>
  <form [formGroup]="register" (ngSubmit)="registerForm()">
    <ion-list>
      <ion-list-header>
        Cadastro de Novo Usuário
      </ion-list-header>
      <ion-item>
        <ion-label floating>Nome</ion-label>
        <ion-input type="text" formControlName="nome"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label floating>Sobrenome</ion-label>
        <ion-input type="text" formControlName="sobrenome"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label floating>Usuário</ion-label>
        <ion-input type="text" formControlName="login"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label floating>Email</ion-label>
        <ion-input type="email" formControlName="email"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label floating>Senha</ion-label>
        <ion-input type="password" formControlName="senha"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label floating>Repita a senha</ion-label>
        <ion-input type="password" formControlName="repeat"></ion-input>
      </ion-item>
      <div class="forcheckbox">        
        <ion-checkbox formControlName="agree"></ion-checkbox>
        <span>Aceito os <span (click)="termoscondicoes()" class="inner">Termos e Condições de Uso</span></span>
      </div>
      <ion-item>        
        <button type="submit" ion-button full large color="default">Realizar Cadastro</button>      
      </ion-item>
  </ion-list>   
  </form>
  <button ion-button medium full color="light" name="back-btn" clear icon-left (click)="voltarAcesso()">
    <ion-icon name="arrow-round-back"></ion-icon>
    Voltar ao Acesso
  </button>
</ion-content>
