<ion-content padding class="login-bkg">
  <img class="logo" src="assets/images/Beta.png" />
  <ion-list>
    <ion-item class="login-item">
      <ion-label floating>Usuário</ion-label>
      <ion-input type="text" [(ngModel)]="login.usuario"></ion-input>
    </ion-item>
    <ion-item class="login-item">
      <ion-label floating>Senha</ion-label>
      <ion-input type="password" [(ngModel)]="login.senha"></ion-input>
    </ion-item>
    <ion-item class="login-item">
      <button ion-button full color="default" (click)="verificaLogin()">ACESSAR</button>
    </ion-item>
  </ion-list>
  <button ion-button color="light" clear full style="font-size:1.1rem;">Esqueceu sua senha?</button>
  <div class="or-divider">
    <div class="left-line"></div>
    <div class="middle-divider">OU</div>
    <div class="right-line"></div>
  </div>
  <ion-list no-lines>
      <button ion-button color="light" clear block icon-left>
        <ion-icon name="logo-facebook"></ion-icon>
        usar facebook
      </button>
      <button ion-button color="light" clear block icon-left>
        <ion-icon name="logo-google"></ion-icon>
        usar google
      </button>
      <button ion-button color="light" (click)="novoCadastro()" clear block icon-left>
        <ion-icon name="person-add"></ion-icon>
        novo cadastro
      </button>
  </ion-list>
</ion-content>



