page-login{
  .login-bkg{
    background-image: url('../assets/images/BKG-login.jpg');
  }
  .login-item{
    background-color: transparent;
    color: #ffffff;
  }
  .or-divider{
    color: #fff;
    text-align: center;
    display: block;
    width:100%;
    font-size:1.1rem;
    margin: 15px 0;
  }
  .left-line{
    display:inline-block;
    width:35%;
    border-top:thin solid rgba(250,250,250,0.5);
    vertical-align: middle;
    margin-right: 5px;
  }
  .middle-divider{
    background-color: rgba(250, 250, 250, 0.3);
    display: inline-block;
    padding: 5px;
    border-radius: 11px;
  }
  .right-line{
    display:inline-block;
    width:35%;
    border-top:thin solid rgba(250,250,250,0.5);
    vertical-align: middle;
    margin-left: 5px;
  }
  .logo{
    width: 80%;
    display: block;
    margin: 20px auto 0 auto;
  }
}
