<ion-header>
<ion-navbar>
  <ion-title>Meus Favoritos</ion-title>
</ion-navbar>
</ion-header>
<ion-content class="bkg-content">
  <ion-list>
    <ion-item-sliding *ngFor="let fav of resultado">
    <ion-item>
      <ion-avatar item-left>
        <img src="{{fav.FORNECEDOR}}" />
      </ion-avatar>
      <h2>{{fav.Titulo}}</h2>
      <p>{{fav.FORNECEDOR_TITULO}}</p>
    </ion-item>
    <ion-item-options side="right">
      <button ion-button color="danger">
        <ion-icon name="remove-circle"></ion-icon>
        Desfazer
      </button>
    </ion-item-options>
  </ion-item-sliding>
  </ion-list>
</ion-content>
