<ion-header>
<ion-navbar>
  <ion-title>Meu Perfil</ion-title>
</ion-navbar>
</ion-header>
<ion-content class="bkg-perfil">
  <div class="sidebar-avatar">
    <div class="content-avatar">
      <img src="{{usuarioimagem}}" width="58px"/>
    </div>
  </div>
    <ion-list no-lines>
      <ion-item class="perfil-item">
        <h2>Nome</h2>
        <h3>{{usuariologado}}</h3>
      </ion-item>
      <ion-item class="perfil-item">
        <h2>Email</h2>
        <h3>{{usuarioemail}}</h3>
      </ion-item>
      <ion-item class="perfil-item">
        <h2>Endereço</h2>
        <h3>Rua Barão de Melgaço, 1000</h3>
      </ion-item>
      <ion-item class="perfil-item">
        <h2>Cidade</h2>
        <h3>Cuiabá - MT</h3>
      </ion-item>
    </ion-list>
</ion-content>
