page-perfil{
  .toolbar-background {
    background-color: #162640;
  }
  .toolbar-title-md{
    color : #ffffff;
  }
  .bkg-perfil{
    background-color: #2a3a4b;
  }
  .avatar-block{
    width: 100%;
    height: 100px;
    background-color: #1a2c48;
  }
  .perfil-item{
    background-color: transparent;
    color: #ffffff;
  }
}
