<ion-content>
<h2>Error</h2>
<pre>
Runtime Error
Cannot find module "../pages/plugin/slide"
Stack
Error: Cannot find module "../pages/plugin/slide"
    at d (polyfills.js:3:3991)
    at Object(main.js:77385:7)
    at __webpack_require__ (main.js:20:30)
    at Object(main.js:117292:70)
    at __webpack_require__ (main.js:20:30)
    at main.js:66:18
    at main.js:69:10
Ionic Framework: 3.1.1
Ionic App Scripts: 1.3.7
Angular Core: 4.0.2
Angular Compiler CLI: 4.0.2
Node: 7.9.0
User Agent: Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/58.0.3029.110 Safari/537.36
</pre>
</ion-content>