<ion-header>
<ion-navbar>
  <button ion-button menuToggle start>
      <ion-icon name="menu"></ion-icon>
    </button>
  <ion-title>Troca de Cupons</ion-title>
</ion-navbar>
</ion-header>
<ion-content class="bkg-content">
<div>
  <ion-segment [(ngModel)]="offer">
    <ion-segment-button value="ads" color="light">
      Ofertas
    </ion-segment-button>
    <ion-segment-button value="own" color="light">
      Minhas trocas
    </ion-segment-button>
  </ion-segment>
</div>

<div [ngSwitch]="offer">
  <ion-list *ngSwitchCase="'ads'">
    <ion-item-sliding  *ngFor="let feed of mercado">
        <ion-item>
          <ion-avatar item-start>
            <img src="{{feed.img_oferta}}">
          </ion-avatar>
          <h2>{{feed.titulo_oferta}}</h2>
          <p>{{feed.titulo_parceiro}}</p>
        </ion-item>
        <ion-item-options side="right">
          <button ion-button color="secondary">
            <ion-icon name="text"></ion-icon>
            Trocar
          </button>
        </ion-item-options>
    </ion-item-sliding>
  </ion-list>
  <ion-list *ngSwitchCase="own">
    <ion-item>
        
    </ion-item>
  </ion-list>
</div>
<!-- <ion-fab right bottom>
    <button ion-fab color="light"><ion-icon name="swap"></ion-icon></button>
</ion-fab> -->
</ion-content>