page-pacotes{
  // .toolbar-background {
  //   background-color: #162640;
  // }
  // .toolbar-title-md{
  //   color : #ffffff;
  // }
  // .back-button{
  //   color: #ffffff;
  // }
  // .bkg-content{
  //   background-color: #2a3a4b;
  // }
  // .vertical-align-content > *{
  //   display: flex!important;
  //   align-content: center!important;
  //   align-items: center!important;
  //   overflow: hidden;
  // }
  .bkg-content{
    background-color: #2a3a4b;
  }
  .btn-pacotes{
    display: block;
    height: 150px;
  }
  .btn-orange{
    border-bottom: 5px solid #c75540;
    background-color: #F1654C;
  }
  .btn-blue{
    background-color: #00B5B5;
    border-bottom: 5px solid #017f80;
  }
  .button-inner{

  }
  .middle-content{

    img{
      margin: 30px auto;
      display:block;
      width:85%;
      }
    p{
      color:#ffffff;
      padding: 0 20px;
      text-align: justify;
      font-size: 18px;
      font-weight: 300;
    }
  }
  // .choose-wheel{

  //     background-color: #ffffff;
  //     //transform: rotate(-90deg);
  //     position: absolute;
  //     transform: translateY(-50%);
  //     top: 50%;
  //     right: 0;

  //     ul{
        
  //       li{
          
  //         h5{}
  //         span{}
  //       }
  //     }    
  //   }

  #choose_menu{
    width:100%;
    height:20em;
    padding-top: 10px;
    text-align: center;

        button{
          color: whitesmoke;          
          > i{display:block;margin-bottom: 10px;}
          &.pack-btn{
            width: 10em;
            display: inline-block;
            padding: 30px 0;
            font-size: 1.1em;
            word-wrap: break-word;
            background-color: #374b61;
            box-shadow: 1px 1px 2px rgba(0,0,0,0.5);         
          }
        }
        
      
      button:first-child{
          i{color:#3D8EB9}
          // background-color: #008891;
          span{
            // background-color: #b94404;
          }
        
      }
      button:nth-child(2){
      i{color:#EB9532}
        // background-color: #EE543A;
        
      }
      button:last-child{
        display:block;
        background-color: transparent;
        font-size: 1.1em;
        width:100%;
        text-align: center;
        margin-top: 10px;
        ion-icon{
          display:block;
          font-size:3em;
        }
        span{
          padding: 15px 15px;
          box-sizing: border-box;
          background-color: rgba(0,0,0,0.1);
          display: block;
          width: 50%;
          margin: 0 auto;
        }
      }
    
  }

    // .cn-button{
    //   border: none;
    //   background: none;          
    //   color: #f06060;
    //   text-align: center;
    //   font-size: 1.8em;
    //   padding-bottom: 1em;
    //   height: 3.5em;
    //   width: 3.5em;
    //   background-color: #fff;
    //   position: fixed;
    //   left: 50%;
    //   margin-left: -1.75em;
    //   bottom: -1.75em;
    //   border-radius: 50%;
    //   cursor: pointer;
    //   z-index: 11;

    // }

    // .cn-wrapper{

    //   position: fixed;
    //   bottom: 0;
    //   width: 100%;
    //   height: 11.6em;;
    //   ul{

    //     list-style: none;

    //     li{
    //           background-color: whitesmoke;
    //           display: inline-block;
    //           width: 6em;
    //           height: 6em;
    //           border-radius: 3em;
    //           position: absolute;
    //           top: 0;
    //           left: 6%;
    //           transform-origin: 190% 180%;

    //       &:first-child{transform: rotate(-41deg) translateX(50%);}
    //       &:nth-child(2){transform: rotate(10deg) translateX(50%);}
    //       &:first-child(3){transform: rotate(62deg) translateX(50%);}
    //       &:last-child{transform: rotate(110deg) translateX(50%);}
    //     }
    //   }
    // }

}
