<ion-content class="bkg-content">
  <div class="middle-content">
    <img src="assets/images/Beta.png" />
    <p>
      <span>TESTE</span>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
      Duis venenatis turpis vel ante consectetur, eu pretium turpis egestas. 
      Sed congue eros at mauris congue vestibulum. 
      Aliquam placerat malesuada sem, maximus vulputate mi pellentesque a. 
      Duis non gravida eros, id iaculis sem.
    </p>
  </div>
<div id="choose_menu">

      <button class="pack-btn" *ngFor="let feed of pacotes" (click)="getOfertas(feed.id_pacote)">
        <i class="fa fa-ticket fa-3x"></i>
        {{feed.titulo}}
      </button>
    
      <button (click)="listaParceiros()">
        <ion-icon name="apps"></ion-icon>        
        <span>Explorar Aplicativo</span>        
      </button>

</div>
</ion-content>
