<ion-header>
<ion-navbar>
  <button ion-button menuToggle start>
      <ion-icon name="menu"></ion-icon>
    </button>
  <ion-title>Configurações</ion-title>
</ion-navbar>
</ion-header>
<ion-content class="bkg-content">
</ion-content>>