<ion-header>
<ion-navbar>
  <button ion-button menuToggle start>
      <ion-icon name="menu"></ion-icon>
    </button>
  <ion-title>Contatos</ion-title>
</ion-navbar>
</ion-header>
<ion-content class="bkg-content">
<div>
  <ion-segment [(ngModel)]="contacts">
    <ion-segment-button value="my-contacts" color="light">
      Meus Contatos
    </ion-segment-button>
    <ion-segment-button value="pending" color="light">
      Pendentes
    </ion-segment-button>
  </ion-segment>
</div>

<div [ngSwitch]="contacts">
  <ion-list *ngSwitchCase="'my-contacts'">
    <ion-item-sliding>
        <ion-item>
          <ion-avatar item-start>
            <img src="assets/images/houmar.jpg">
          </ion-avatar>
          <h2>Houmar Passareli</h2>
        </ion-item>
        <ion-item-options side="right">
          <button ion-button color="danger">
            <ion-icon name="remove-circle"></ion-icon>
            Desfazer
          </button>
        </ion-item-options>
    </ion-item-sliding>
    <ion-item-sliding>
        <ion-item>
          <ion-avatar item-start>
            <img src="assets/images/raphael.jpg">
          </ion-avatar>
          <h2>Raphael Pires</h2>
        </ion-item>
        <ion-item-options side="right">
          <button ion-button color="danger">
            <ion-icon name="remove-circle"></ion-icon>
            Desfazer
          </button>
        </ion-item-options>
    </ion-item-sliding>
    <ion-item-sliding>
        <ion-item>
          <ion-avatar item-start>
            <img src="assets/images/gleice.jpg">
          </ion-avatar>
          <h2>Gleice Marques</h2>
        </ion-item>
        <ion-item-options side="right">
          <button ion-button color="danger">
            <ion-icon name="remove-circle"></ion-icon>
            Desfazer
          </button>
        </ion-item-options>
    </ion-item-sliding>
  </ion-list>
  <ion-list *ngSwitchCase="'pending'">
    <ion-item>
        
    </ion-item>
  </ion-list>
</div>
<ion-fab right bottom>
    <button ion-fab color="light" (click)="busca = !busca"><ion-icon name="person-add"></ion-icon></button>
</ion-fab>
<ion-searchbar style="position: absolute;bottom: 8px;width: 87%;" *ngIf="busca"></ion-searchbar>
</ion-content>