<ion-header>
  <ion-toolbar>
    <button ion-button menuToggle start>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Parceiros</ion-title>
    <ion-buttons end>
      <button ion-button icon-only color="royal">
        <ion-icon name="search"></ion-icon>
      </button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content padding class="card-background-page">
  <ion-card *ngFor="let p of resultado">
    <img src="{{p.LOGO}}"/>
    <div class="card-title">{{p.FORNECEDOR_TITULO}}</div>
    <div class="card-subtitle">{{p.QTD}}</div>
    <div class="card-opacity"></div>
  </ion-card>
</ion-content>
