page-parceiros{
  .card-background-page {

    background-color: #2a3a4b;

  ion-card {
    position: relative;
    text-align: center;
  }

  .card-title {
    position: absolute;
    top: 36%;
    font-size: 2.0em;
    width: 100%;
    font-weight: bold;
    color: #fff;
    z-index: 3;
  }

  .card-subtitle {
    font-size: 1.0em;
    position: absolute;
    bottom: 15%;
    width: 100%;
    color: #fff;
    z-index:3;
  }

  .card-opacity{
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.3);
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    z-index: 2;
  }

  }
}
