// http://ionicframework.com/docs/v2/theming/


// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.
.toolbar-background {
  background-color: #162640;
}
.toolbar-title-md{
  color : #ffffff;
}
.bar-button-default-md{
  color: #ffffff;
}
.app-menu{
  background-color: #162640;
}
.sidebar-avatar{
  width: 100%;
  height: auto;
  background-color: #324558;
  overflow: auto;
}
.content-avatar{
    text-align: center;
    padding: 22px 0;
    box-sizing: border-box;
}
.content-avatar img{
  display:block;
  margin: 0 auto;
  border-radius: 29px;
}
.content-info{
  display: block;
  vertical-align: top;
  font-size: 14px;
  padding-top: 12px;
  color: #ffffff;
}
.btn-menu-item{
  background-color: #162640;
  color: #ffffff;
}
.info-name{

}
.info-email{

}
.perfil-edit{
  display:block;
  text-decoration: underline;
  margin-top: 8px;
}
