<ion-nav [root]="rootPage" #content swipeBackEnabled="false"></ion-nav>

<ion-menu [content]="content">
  <ion-header>
    <ion-navbar>
    <button ion-button menuToggle end>
      <ion-icon name="close"></ion-icon>
    </button>
  </ion-navbar>
  </ion-header>
  <ion-content class="app-menu">
    <div class="sidebar-avatar">
      <div class="content-avatar">
        <img src="{{usuarioimagem}}" width="58px"/>
        <div class="content-info">
            <div class="info-name">{{usuariologado}}</div>
            <div class="info-email">{{usuarioemail}}</div>
            <div class="perfil-edit" (click)="abrePerfil()" menuToggle>Edital Perfil</div>
        </div>
      </div>
    </div>
    <ion-list no-lines>
      <button menuClose ion-item (click)="abrePagina(p)" class="btn-menu-item" *ngFor="let p of paginas">
        <ion-icon name="{{p.icone}}"></ion-icon>
        {{p.titulo}}
      </button>
      <!-- <button menuClose ion-item class="btn-menu-item" (click)="abreExterno('estabelecimento')">
        <ion-icon name=""></ion-icon>
        Estabelecimentos
      </button> -->
    </ion-list>
  </ion-content>

</ion-menu>

<!-- Disable swipe-to-go-back because it's poor UX to combine STGB with side menus -->
<!-- <ion-nav [root]="rootPage" #content swipeBackEnabled="false"></ion-nav> -->
