page-lista{
  .toolbar-background {
    background-color: #162640;
  }
  .toolbar-title-md{
    color : #ffffff;
  }
  .back-button{
    color: #ffffff;
  }
  .bkg-content{
    background-color: #2a3a4b;
  }
}
