<ion-header>
<ion-navbar>
  <ion-title>Lista de Ofertas</ion-title>
</ion-navbar>
</ion-header>
<ion-content class="bkg-content">
  <ion-card *ngFor="let feed of resultado">
    <ion-item>
      <ion-avatar item-left>
        <img src="{{feed.FORNECEDOR}}">
      </ion-avatar>
      <h2>{{feed.FORNECEDOR_TITULO}}</h2>
    </ion-item>
    <ion-card-content>
      <ion-card-title>
        {{feed.Titulo}}
      </ion-card-title>
      <p>Wait a minute. Wait a minute, Doc. Uhhh... Are you telling me that you built a time machine... out of a DeLorean?! Whoa. This is heavy.</p>
    </ion-card-content>
  </ion-card>
</ion-content>
