<ion-header>
  <ion-toolbar>
    <button ion-button menuToggle start>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Meus Cupons</ion-title>
    <ion-buttons end>
      <button ion-button icon-only color="royal">
        <ion-icon name="search"></ion-icon>
      </button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content class="content">
  <div class="barra-carousel">      
      <ion-list>
        <ion-item style="background-color: transparent">
          <ion-slides>
            <ion-slide>
              <ion-avatar *ngFor="let avatar of resultado" (click)="openSlider()">
                <img src="{{avatar.FORNECEDOR}}" />
              </ion-avatar>
            </ion-slide>
          </ion-slides>
        </ion-item>
      </ion-list>      
  </div>
  <div class="ofertas" *ngFor="let feed of resultado[0]">
      <ion-fab right top>
        <button ion-fab mini color="light" (click)="abreQRCode(feed.qrcode, feed.altcode)"><ion-icon name="checkmark"></ion-icon></button>
      </ion-fab>
      <div class="ofertas-fornecedor">
        <img  src="{{feed.img_parceiro}}" style="display:inline-block;" />
        <h5 style="display:inline-block;">{{feed.titulo_parceiro}}</h5>
      </div>
      <div class="ofertas-main">
        <img (click)="abreOferta(feed.codigo)" src="{{feed.img_cupom}}" />    
        <div class="ofertas-interacao">
          <ion-buttons start>
            <button ion-button icon-left clear small color="light" (click)="btnRating(feed.codigo)">
              <ion-icon name="star"></ion-icon>
              <div> {{feed.rating}}</div>
            </button>
            <div class="rating-menu" *ngIf="rating == feed.codigo">
              <ion-icon name="thumbs-down" (click)="chooseRating(feed.codigo, -1)"></ion-icon>
              <ion-icon name="star" (click)="chooseRating(feed.codigo, 1)"></ion-icon>
              <ion-icon name="star" (click)="chooseRating(feed.codigo, 2)"></ion-icon>
              <ion-icon name="star" (click)="chooseRating(feed.codigo, 3)"></ion-icon>
              <ion-icon name="star" (click)="chooseRating(feed.codigo, 4)"></ion-icon>
              <ion-icon name="star" (click)="chooseRating(feed.codigo, 5)"></ion-icon>
            </div>
            <button ion-button icon-left clear small color="light" (click)="comentario(feed.codigo)">
              <ion-icon name="text"></ion-icon>
              <div> {{feed.qtd_comentario}}</div>
            </button>
            <button ion-button icon-left clear small color="light">
              <ion-icon name="share"></ion-icon>
              <div> 10</div>
            </button>
        </ion-buttons>
        </div>
      </div>
      <h5 (click)="abreOferta(feed.codigo)" style="padding-left:10px;">{{feed.titulo_cupom}}</h5>
      <div class="comment-place" *ngIf="comment == feed.codigo">
        <div class="folks-comment">
          <ion-list>
            <ion-item>
              <ion-avatar item-start>
                <img src="assets/images/houmar.jpg" style="display:inline-block;">
              </ion-avatar>
              <div style="display:inline-block;vertical-align: top;">
                <h2>Houmar Passarelli</h2>
                <p>I've had a pretty messed up day. If we just...</p>
              </div>
            </ion-item>
            <ion-item>
              <ion-avatar item-start>
                <img src="assets/images/raphael.jpg" style="display:inline-block;">
              </ion-avatar>
              <div style="display:inline-block;vertical-align: top;">
                <h2>Raphael Pires</h2>
                <p>I've had a pretty messed up day. If we just...</p>
              </div>
            </ion-item>
          </ion-list>
        </div>
        <div class="own-comment">
              <ion-icon name="chatbubbles"></ion-icon>
            <ion-input type="text" placeholder="Escreva seu comentário..."></ion-input>
        </div>
      </div>
      <div class="ofertas-divisor">
        <ion-icon name="star"></ion-icon>
        <hr />
      </div>
  </div>
  <ion-infinite-scroll (ionInfinite)="doInfinite($event)">
   <ion-infinite-scroll-content
      loadingSpinner="bubbles"
      loadingText="Carregando mais ofertas...">
    </ion-infinite-scroll-content>
 </ion-infinite-scroll>
</ion-content>

