page-minhasofertas{
  .toolbar-background {
    background-color: #162640;
  }
  .toolbar-title-md{
    color : #ffffff;
  }
  .bar-button-default-md{
    color: #ffffff;
  }

  .content{
    background-color: #2a3a4b;
  }
  .barra-carousel{
    display:block;
    width: 100%;
    height:50px;
    box-shadow: 0 3px 5px rgba(0,0,0,0.1);
    background-color: #324558;
    padding: 5px 0;
    margin-bottom: 15px;
  }
  ion-avatar{
    display:inline-block !important;
    margin-right: 10px;
    vertical-align: middle;
  }
  .list-md{
    margin-bottom: 0 !important;
  }
  .label-md{
    margin: 0 !important;
  }
  .img-avatar{
    border-radius: 20px;
    width: 40px;
    height: 40px;
  }
  .ofertas{
    position: relative;
    display:block;    
    width:100%;
    height:auto;

    ion-fab[top]{
      top:-5px;
    }
    .ofertas-fornecedor{
      
      padding: 0 15px 10px 15px;
      img{
        width:40px;
        height:40px;
        border-radius: 20px;
        vertical-align: bottom;
      }
      h5{display: inline-block;
        vertical-align: top;
        margin-left: 5px;
        font-weight: 400;
      }
    }
    .ofertas-main{
      position: relative;
      .ofertas-interacao{
        position: absolute;
        width: auto;
        height: auto;
        bottom: 20px;
        left: 10px;
        background-color: rgba(0,0,0,0.8);
        border-radius: 5px;

        button{padding: 0 0.4em !important;vertical-align: baseline;}
      }
    }
    

    h5{color: #ffffff;}

    .ofertas-divisor{
      position: relative;
      padding: 20px 0;
      hr{position:absolute;
          border: none;
        width: 85%;
        border-top: thin solid #162640;
        bottom: 12px;
        z-index: 1;
        transform: translateX(-50%);
        left: 50%;}
      ion-icon{color: #162640;
              background-color: #2a3a4b;
              padding: 0 31px;
              position: absolute;
              bottom: 13px;
              z-index: 2;
              left: 50%;
              transform: translateX(-50%);}
    } 
  }

  .rating-menu{
    display:inline-block;
    vertical-align: baseline;
    padding: 0 15px;
    ion-icon{
      color: white;
    }
  }
  .infinite-loading-text{
    color: #ffffff !important;
  }
    
}
modal-minhasofertascomment{
  ion-content{
    background-color: #2a3a4b !important;

    .comment-place{
    .folks-comment{
      ion-list{
        width: 96%;
        ion-item{
          h2{color: white;}
          p{color: white;font-weight: 300;}
          &:last-child{
            margin-bottom: 5px;
            .item-inner{
              border-bottom: none;              
            }
          }
        }
      }     
      .item-md{
        background-color: transparent !important;
        .item-inner{
          border-bottom: thin solid #162640;
          padding: 10px 0;
        }
      }
    }
    .own-comment{
      position: relative;
      button{
        position: absolute;
        right: 20px;
        padding: 0;
        z-index: 1;
        font-size: 2.5em;
        color: rgba(49, 67, 86, 1.0);
      }
      ion-input{
        background-color: #1f2933 !important;
        width: 95% !important;
        margin: 0 auto !important;
        color: white !important;
        box-shadow: inset 0px 0px 3px rgba(0,0,0,0.2);
        input{
            width: calc(88% - 8px - 8px) !important;
            
            // &::placeholder{
            //   color: rgba(49, 67, 86, 1.0);
            // }
        }

      }
    }    
  }

  }


}
modal-minhasofertasqrcode{
  ion-content{
    background-color: #2a3a4b !important;
  }
}