<button ion-button icon-only (click)="modalDismiss()">
      <ion-icon name="close"></ion-icon>
</button>
<ion-slides>
    <ion-slide>
        <img src="assets/images/fornecedores/fornecedor-1.jpg" />
    </ion-slide>
    <ion-slide>
        <img src="assets/images/fornecedores/fornecedor-2.jpg" />
    </ion-slide>
    <ion-slide>
        <img src="assets/images/fornecedores/fornecedor-3.jpg" />
    </ion-slide>
    <ion-slide>
        <img src="assets/images/fornecedores/fornecedor-4.jpg" />
    </ion-slide>
    <ion-slide>
        <img src="assets/images/fornecedores/fornecedor-5.jpg" />
    </ion-slide>
</ion-slides>