page-ofertas{
  .toolbar-background {
    background-color: #162640;
  }
  .toolbar-title-md{
    color : #ffffff;
  }
  .bar-button-default-md{
    color: #ffffff;
  }

  .content{
    background-color: #2a3a4b;
  }
  .card-md{
    box-shadow: none;
  }
  .ofertas-item{
    //width: 95%;
    margin: 5px auto 0 auto;
    position: relative;
  }
  .content-info-place{
    background-color: #ffffff;
    margin-top: -10px;
    padding: 12px;
    box-shadow: 0 1px 1px rgba(0,0,0,0.8);
  }
  .content-info-titulo{
    color: #2980b9;
    display: block;
  }
  .barra-carousel{
    display:block;
    width: 100%;
    height:50px;
    box-shadow: 0 3px 5px rgba(0,0,0,0.1);
    background-color: #324558;
    padding: 5px 0;
    margin-bottom: 15px;
  }
  ion-avatar{
    display:inline-block !important;
    margin-right: 10px;
    vertical-align: middle;
  }
  .list-md{
    margin-bottom: 0 !important;
  }
  .label-md{
    margin: 0 !important;
  }
  .img-avatar{
    border-radius: 20px;
    width: 40px;
    height: 40px;
  }
  .ofertas{
    
    display:block;
    position: relative;
    width:100%;
    height:auto;

    .ofertas-fornecedor{
      padding: 0 15px 10px 15px;
      img{
        width:40px;
        height:40px;
        border-radius: 20px;
        vertical-align: bottom;
        display: block;
      }
      h5{display: inline-block;
        vertical-align: top;
        //margin-left: 5px;
        font-weight: 400;
      }
    }

    .ofertas-interacao{
      position: absolute;
      width: auto;
      height: auto;
      bottom: 100px;
      left: 10px;
      background-color: rgba(0,0,0,0.8);
      border-radius: 5px;

      button{padding: 0 0.4em !important;}

      .pop{

      }
    }

    h5{color: #ffffff;margin-left:5px;display:block;}

    .ofertas-divisor{
      position: relative;
      padding: 20px 0;
      hr{position:absolute;
          border: none;
        width: 85%;
        border-top: thin solid #162640;
        bottom: 12px;
        z-index: 1;
        transform: translateX(-50%);
        left: 50%;}
      ion-icon{color: #162640;
              background-color: #2a3a4b;
              padding: 0 31px;
              position: absolute;
              bottom: 13px;
              z-index: 2;
              left: 50%;
              transform: translateX(-50%);}
    } 
  }
}
