<ion-header>
  <ion-toolbar>
    <button ion-button menuToggle start>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Ofertas</ion-title>
    <ion-buttons end>
      <button ion-button icon-only color="royal">
        <ion-icon name="search"></ion-icon>
      </button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content class="content">
  <div class="ofertas" *ngFor="let feed of resultado">
      <div class="ofertas-fornecedor">
        <img src="{{feed.img_parceiro}}" style="display:inline-block;"/>
        <h5 style="display:inline-block;">{{feed.titulo_parceiro}}</h5>
      </div>
      <img (click)="abreOferta()" src="{{feed.img_cupom}}" />
      <h5 (click)="abreOferta()">{{feed.titulo_cupom}}</h5>
      <div class="ofertas-divisor">
        <ion-icon name="star"></ion-icon>
        <hr />
      </div>
  </div>
   <ion-fab right bottom>
    <button ion-fab color="danger"><img src="assets/images/tickets.png" style="width: 75%;"/></button>
    <ion-fab-list side="left">
      <button ion-button color="secondary" round (click)="comprarPacote()">Comprar</button>
      <button ion-button round (click)="abrePacotes()">Voltar</button>
    </ion-fab-list>
  </ion-fab> 
</ion-content>

